<nav>
  <div>
    <%= link_to "Home", root_path %>
  </div>
  <div>Basic Rails</div>
  <div style="display: flex">
    <% if authenticated? %>
      <div style="padding-right: 10px"><%= Current.user %> </div>
      <%= button_to "Log out", session_path, method: :delete  %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "Sign Up", new_registration_path %>
    <% end %>
  </div>
</nav>
